@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);


#header1-0 H1 {
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
  text-align: left;
}
#header1-0 P {
  font-family: 'Ubuntu', sans-serif;
}
#header1-0 B {
  font-size: 18px;
  color: #000000;
  text-align: center;
}
